::-webkit-scrollbar{
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-thumb{
  background: #3B52FF;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #7181F7;
}
::-webkit-scrollbar-track{
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}
* {
  box-sizing: content-box;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.margin-center{
  margin:  0 15%;
}
a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: Helvetica;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  .top-nav-logo figure{
    margin: 0px 0px 0px 0px;
    img{
      width: 80px;
    }
  }
  .top-nav-links a {
    margin-left: 30px;
  }
}
.profile{
  display: block;
  text-align: center;
  height: auto;
  h1{
    margin-top: 60px;
  }
  .svg-avatar{
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .svg-bottom{
    margin: 0px 0px -4px 0px;
  }
}
.skills{
  z-index: 0;
  text-align: center;
  background-color: #3342e8;
  height: 450px;
  div{
    padding-top: 80px;
    color: white;
    margin:  auto 25%;
    h2{
      margin: 0;
    }
    p{
      line-height: 30px;
    }
  }
}
.skills-column{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1300px;
  width: 80%;
  margin: auto;
  div{
    margin: -150px 20px 30px 20px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 450px;
    background: white;
    border-radius: 10px;
    padding: 70px 45px;
    -webkit-box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.36);
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.36);
  }
}
.projects{
  display: block;
  margin-bottom: 50px;
  h1{
    text-align: center;
    margin-bottom: 50px;
  }
  .box-project{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    justify-content: center;
    width: 80%;
    margin: auto;
    article{
      position: relative;
      margin: 10px 10px 10px 10px;
      figure{
        width: 400px;
        height: 200px;
        margin: 0px 0px 0px 0px;
        border-radius: 15px 15px 15px 15px;
        overflow: hidden;
        img{
          display: block;
          width: 100%;
          height: auto;
          flex-shrink: 0;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        border-radius: 15px;
        background-color: #161747;
        .text {
          text-transform: uppercase;
          color: white;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
          button{
            box-shadow: 0px 0px 0px 0px #1564ad;
            background-color:transparent;
            border-radius:28px;
            border:1px solid white;
            display:inline-block;
            cursor:pointer;
            color:#ffffff;
            margin-top: 20px;
            padding:15px 31px;
            transition: .5s ease;
            &:hover{
              transform: scale(1.02);
            }
          }
        }
        &:hover{
          opacity: 1;
        }
      }

    }
  }
}
footer{
  background-color: #3342e8;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  figure img{
    padding: 40px;
    width: 150px;
  }
  p{
    color: white;
    margin: 0;
    padding-bottom: 20px;
  }
}

.login-page{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  h1{
    margin-bottom: 40px;
  }
  figure img{
    width: 150px;
  }
  .login-section{
    button{
      cursor: pointer;
      padding: 10px 20px;
      border: 1px solid #018dc4;
      border-radius: 10px;
    }
    .login-form form{
      display: flex;
      justify-content: center;
      margin-bottom: 23px;
      input{
        outline: none;
        margin: 0 20px 0 0;
        cursor: pointer;
        padding: 10px 20px;
        border: 1px solid rgba(183,183,183,0.79);
        border-radius: 10px;
        color: rgba(0,142,198,1);
        background: rgba(252,252,252,1);
        -webkit-box-shadow: 0 0 10px 0 rgba(90,90,90,0.6) ;
        box-shadow: 0 0 10px 0 rgba(90,90,90,0.6) ;
      }
      label{
        display: none;
      }
    }
  }
}


.page-manager{


  .column {
    width: 100%;
    padding: 20px;
  }

  /* Clearfix (clear floats) */

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th, td {
    text-align: left;
    padding: 16px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}
